<% if (breadcrumbs) { %>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <!-- <ol class="breadcrumb" style="background-color: black;"> -->
            <% breadcrumbs.forEach((breadcrumb)=> { %>
                <li><a href="<%= breadcrumb.url %>">
                        <%= breadcrumb.name %>
                    </a></li>
                <% }) %>
        </ul>
        <!-- </ol> -->
    </nav>
<% } %>
