<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header.ejs') %>
</head>

<body style=" height: 160vh; background-color: tomato;">
    <div class="container">
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
    <%- include ('partials/nav-bar.ejs') %>
    <div class="main-page ">
    <div style="background-color:#e5e5e5;padding:15px;text-align:center;">
        <h1 class = "main-title">Aναγνώρισε τις σπουδές σου στην Ελλάδα και
            συνέχισε την επαγγελματική σου σταδιοδρομία εδώ</h1>
      </div>
      
      <div >
        <div class="shortcut-menu">

          <div class =  " shortcut-link " >    shortcut 1  </div>
          <div class =  " shortcut-link " >    shortcut 2  </div>
          <div class =  " shortcut-link " >    shortcut 3  </div>
          <div class =  " shortcut-link " >    shortcut 4  </div>

        </div>
      
        <div class="main-content">
          <h2>Lorum Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      
        <div class="Anouncements">
          <h2>About</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
      </div>

    </div>
      

    <%- include ('partials/footer.ejs') %>
</body>

</html>