<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header.ejs') %>
</head>

<body>
    <div class="container">
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
    <%- include ('partials/nav.ejs') %>

    <!--  Main-Page-content  -->
    <div class="main-content">

        <!--  ShortCuts-1  -->
        <div class="shortcuts-1 ">

            <!-- Anagnwrish  -->
            <div class="anagnwrish">
                <div class="anagnwrish-title">Aναγνώρισε τις σπουδές σου στην Ελλάδα και
                    συνέχισε την επαγγελματική σου σταδιοδρομία εδώ.</div>
                <div class="divider div-transparent div-arrow-down"></div>
                <div class="anagnwrish-info">
                    Δικαιολογητικά,παράβολα και πληροφορίες για την αίτηση αναγνώρισης
                    <button class="learn-more">Μάθε περισσότερα >></button>
                </div>
                <div class="divider div-transparent div-arrow-down"></div>
                <div class="efarmogh">
                    Αν επιθυμείτε να υποβάλλετε αίτηση για την αναγνώριση τίτλου σπουδών σας συνδεθείτε με τη πλατφόρμα
                    <button class="e-doatap-btn "><img src="images/Logo - eDoatap Color white-lettters.png"
                            class="logo-btn" alt=""></button>
                </div>
            </div>

            <!-- Anouncements  -->
            <div class="anakoinwseis ">
                <h1 class="anakoinwseis-title">Aνακοινώσεις</h1>

                <div class="anakoinwsh">
                    <div class="anakoinwsh-titlos">anouncement-title</div>
                    <div class="divider div-transparent-blue blue "></div>
                    <div class="anakoinwsh-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                        doloribus vero sequi ipsa maxime corrupti sint vitae corporis labore libero</div>
                </div>


                <div class="anakoinwsh">
                    <div class="anakoinwsh-titlos">anouncement-title</div>
                    <div class="divider div-transparent-blue blue"></div>
                    <div class="anakoinwsh-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                        doloribus vero sequi ipsa maxime corrupti sint vitae corporis labore libero</div>
                </div>


                <div class="anakoinwsh">
                    <div class="anakoinwsh-titlos">anouncement-title</div>
                    <div class="divider div-transparent-blue blue"></div>
                    <div class="anakoinwsh-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                        doloribus vero sequi ipsa maxime corrupti sint vitae corporis labore libero</div>
                </div>


            </div>

        </div>
        <!--  ShortCuts-2  -->
        <div class="shortcuts-2">

            <div class="sub-shortcut">
                <div class="sub-shortcut-title"> ShortCut Title 2 </div>
                <div class="divider div-transparent  blue-div"></div>
                <div class="sub-shortcut-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                    asperiores dolor aspernatur earum eveniet expedita iusto porro aliquid? Tempore, officiis. Dolores
                    error alias reiciendis? Ad non eum cupiditate in eos.</div>
            </div>

            <div class="sub-shortcut">
                <div class="sub-shortcut-title"> ShortCut Title 2 </div>
                <div class="divider div-transparent blue-div "></div>
                <div class="sub-shortcut-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ducimus modi
                    illo earum sit praesentium dolores laudantium qui, voluptates molestiae perferendis, suscipit,
                    eligendi consequatur corporis vitae. Aliquid dolore enim a.</div>
            </div>

            <div class="sub-shortcut">
                <div class="sub-shortcut-title"> ShortCut Title 3</div>
                <div class="divider div-transparent blue-div "></div>
                <div class="sub-shortcut-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, assumenda
                    totam. Autem, nostrum laboriosam hic totam molestias, iste unde dicta fugit explicabo neque magni
                    aperiam, enim in ratione ullam consequatur.</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="Sub-footer-container">
            <div class="Sub-footer-title">Quick Links</div>
            <ul class="footer-list">
            </ul>
        </div>
        <div class="Sub-footer-container">
            <div class="Sub-footer-title">Useful Links</div>
            <ul class="footer-list">
            </ul>
        </div>
    </div>
    <script src="js/nav-script.js" ></script>
</body>

</html>