<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/header.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<%- include ('partials/nav-bar.ejs') %>
<%- include ('partials/breadcrumbs.ejs') %>

<div class="wrapper">
    <div class="title">
        Φορμα Εγγραφης
    </div>

    <form class="form" method="POST" action="/register">

       <div class="inputfield">
        <label for="first_name">Όνομα:</label>
        <input type="text" class="form-control" class="input" name="first_name" id="first_name" placeholder="Όνομα" required>
       </div>  
        <div class="inputfield">
            <label for="last_name">Επίθετο:</label>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Επίθετο" required>
       </div>  
       <div class="inputfield">
        <label for="phone">Τηλέφωνο:</label>
        <input type="text" class="form-control" minlength="10" maxlength="10 name="phone" id="phone" placeholder="Τηλέφωνο">
       </div>  
      <div class="inputfield">
        <label for="email">Email address: (*)</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
       </div> 
        <div class="inputfield">

       </div> 
        <div class="inputfield">
            <label for="password">Password: (*)</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
       </div> 
      <div class="inputfield">
        <label for="passwordConfirmation">Confirm password: (*) </label>
        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" required>

       </div> 
       <button type="submit" class="btn btn-primary">Εγγραφη</button>

    </form>
</div>


<%- include ('partials/footer.ejs') %>

</body>
</html>
