@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box;
	font-family: 'Barlow', sans-serif;
}


.logo{
    margin-top: 20px;
}

.logo-img{
    height:50px;
    width: 150px;
    cursor:pointer;	
    padding:5px;
    border-radius: 6px;
}

.logo-img:hover{
    background-color: rgb(85, 187, 235);
}

/* --------------------- Navigation Styling  --------------------- */
.nav-bar{
    display : flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center ;
    position:fixed;
    width:100%;
    background-color: rgb(38, 38, 41);
    z-index: 5;
    padding: 15px 0;
    padding-top: 0;
    backdrop-filter: blur(7px);
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);

}

.nav-bar__toggle,.nav-bar__close{
    background-color: aquamarine;
}

.nav-bar__toggle{
    height: 30vh;
    width: 400cm;
    color:red;
}

.bars{
    color:red;
}


#toggle-menu{
    display: none;
}
#close-menu{
    display: none;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item{
    margin:0 8px;
}

.nav-link{
    text-decoration: none;
    color:white;
    padding:10px;
    font-family: 'Play' , sans-serif ;
    font-size: 16px ;
    font-weight: 500px;
    border-radius: 5px;
}

.nav-link:hover{
    background-color: rgb(81, 159, 196); 
}


.nav-button{
	border-radius: 6px;
	box-shadow: 2px 2px 2px rgb(177, 177, 177);
	border-color: rgb(81, 159, 196);
	color: rgb(53, 53, 53);
    font-family: 'Play' , sans-serif ;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	margin: 4px 2px;
	padding:5px;
	transition-duration: 0.4s;
	cursor: pointer;
   
}

.nav-button:hover {
	background-color: #000000;
	color: rgb(255, 255, 255);
	transform: scale(1.2);
}

/* Search Tool Styling */

.search-input {
    border:none;
    background: none;
    outline:none;
    float:left;
    font-size: 16px;
    padding:4px;
	border-radius: 8px;
	background-color: white;
    margin-right: 5px;

}

.search-button {
    color: white;
    width: 30px;
    height: 30px;
	border-color:  rgb(85, 187, 235);
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-left: 25px;
}



.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show1 {
    display: block;
  }

  .mpla{
      background-color: burlywood;
  }


/* Responsive nav-bar */

@media screen and (max-width:1000px){

    .nav-bar{
        justify-content: space-between;
        height: 80px;
        padding: 0 28px;
       
    }


    /* --- Menu Buttons Styling --- */

    #toggle-menu{
        display: inline;
        font-size: 24px;
        color: white;
        padding: 3px;
        border-radius: 50%;
    }

    #close-menu{
        position:absolute;
        display: block;
        font-size: 24px;
        right: 24px ;
        border-radius: 50%;
        color:white;
        padding:3px;
    }

    #close-menu:hover{
        background-color: rgb(85, 187, 235);

    }

    #toggle-menu:hover{
        background-color: rgb(85, 187, 235);
    }

    /* ------------------------------------ */


    .navigation{
        position:fixed;
        top:0;
        background-color: black;
        color: white;
        width:70%;
        height: 120vh;
        padding: 24px 0;
        right: -100%;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }

    .nav-list{
        display: flex ;
        flex-direction: column;
    }

    .nav-item{
        margin:2rem 0;
    }

    .nav-sign{
        color: blue;
    }

    .show{
        right:0;
    }
    
    .dissapear{
        display: none;
    }     
}