<footer class="footer">

    
  	 <div class="foooter-container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4 class="col-title">Οργανισμός</h4>
  	 			<ul class = "footer-ul">
  	 				<li><a href="#">Ο Οργανισμός</a></li>
  	 				<li><a href="#">Υπηρεσίες</a></li>
  	 				<li><a href="#">Όροι Χρήσης-Δήλωση Απορρήτου</a></li>
                    <li><a href="#">Βοήθεια</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4 class="col-title">Χρήσιμα Links</h4>
  	 			<ul class = "footer-ul">
                    <li><a href="#">Αναγνώριση Πτυχίων</a></li>
  	 				<li><a href="#">eDoatap</a></li>
  	 				<li><a href="#">Πορεία-Χρόνοι Αιτήσεων</a></li>
  	 				<li><a href="#">Αιτήματα φορέων για επιβαβαίωση πράξεων γνησιότητας</a></li>
  	 				<li><a href="#">Αιτήματα υπέρβασης σειράς προτεραιότητας</a></li>
                    <li><a href="#">Δι@υγεια</a></li>
  	 				<li><a href="#">Συχνές Ερωτήσεις</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4 class="col-title">Ενημέρωση</h4>
  	 			<ul class="footer-ul">
  	 				<li><a href="#">Ανακοινώσεις</a></li>
  	 				<li><a href="#">Ελληνικά Πανεπιστήμια</a></li>
                    <li><a href="#">Πανεπιστήμια Αλλοδαπής</a></li>
                    <li><a href="#">Ελληνικό Σύστημα Εκπαίδευσης</a></li>
  	 				<li><a href="#">Φόρμες αιτήσεων ΔΟΑΤΑΠ</a></li>
  	 				<li><a href="#">Παράβολα</a></li>
                    <li><a href="#">Στατιστικά Στοιχεία</a></li>
                    <li><a href="#">Ψηφιακή Διακυβέρνηση</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4 class="col-title">Επικοινωνία</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
                <ul class="footer-ul">
                    <li><a href="#">Τηλέφωνo Επικοινωνίας : <span style="color: darkcyan;">210-5281000</span></a></li>
                    <li><a href="#">Email - Υποβόλης Εγγράφων : <span style="color: darkcyan;">rotocol@doatap.gr</span> </a></li>
                    <li><a href="#">Email - πληροφοριών : <span style="color: darkcyan;"> information_dep@doatap.gr </span> </a></li>
                    <li><a href="#">Περισσότερα για την Επικοινωνία με εμάς : <span style="color: darkcyan;"> εδώ </span> </a></li>
                </ul>
  	 		</div>

             
  	 	</div>
  	 </div>
       
</footer>

