<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="/css/info.css">
    <%- include ('partials/header.ejs') %>
</head>
<body>
<%- include ('partials/nav-bar.ejs') %>
<%- include ('partials/breadcrumbs.ejs') %>


<div class="text-center">
    <div class="mt-5 mb-5" style=" box-shadow: 2px 2xp 2xp rgb(13, 84, 126) ; border-radius :8px ; font-family: 'Play' ,sans-serif ; font-size: 26px;">Πληροφορίες</div>
  </div>
  <section class="container my-5" id="maincontent">
    <section id="accordion">
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Τι δικαιολογητικά χρειάζονται για να αναγνωρίσω το Βασικό πτυχίο μου / το Μεταπτυχιακό μου / το Διδακτορικό μου;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-17" style="">
        <div class="card card-body border-0 p-0">
          <p>Τα απαιτούμενα δικαιολογητικά για την αναγνώριση τίτλου σπουδών της αλλοδαπής αναφέρονται στην πλατφόρμα eDoatap, μέσω της οποίας υποβάλλονται και οι αιτήσεις αναγνώρισης τίτλων σπουδών..</p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Σπούδασα ένα χρόνο στο πρώτο πανεπιστήμιο και μετά έκανα μετεγγραφή στο 2ο έτος στο δεύτερο πανεπιστήμιο. Χρειάζομαι δικαιολογητικά και από τα δύο πανεπιστήμια;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-18" style="">
        <div class="card card-body border-0 p-0">
          <p>Δικαιολογητικά απαιτούνται από κάθε Ίδρυμα στο οποίο έχει πραγματοποιηθεί μέρος ή το σύνολο των σπουδών. Υπενθυμίζουμε σχετικά ότι ο Ν.3328/2005 για την διαδικασία αναγνώρισης προβλέπει ότι το ήμισυ τουλάχιστον των σπουδών ή σε περίπτωση που η διάρκεια των σπουδών είναι πενταετής τα δύο τουλάχιστον έτη, θα πρέπει να έχει πραγματοποιηθεί στο Ίδρυμα που απένειμε τον τίτλο..</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Σε πόσο καιρό θα αναγνωριστεί το πτυχίο μου;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-19" style="">
        <div class="card card-body border-0 p-0">
          <p>Κάθε αίτηση έχει έναν νεκρό χρόνο αναμονής από την υποβολή της μέχρι τον προέλεγχο, που ανέρχεται σήμερα στις 40 ημέρες για όλες τις αιτήσεις οριζόντια.
            Οι χρόνοι διεκπεραίωσης διαφέρουν σημαντικά ανάλογα με τον κλάδο και τον τύπο του τίτλου (βασικό, μεταπτυχιακό, διδακτορικό). Μεταξύ τίτλων ίδιου κλάδου και ίδιου τύπου ο χρόνος διεκπεραίωσης είναι ίδιος.
            Υπάρχουν κλάδοι που έχουν χρόνο διεκπεραίωσης (μετά τη λήψη Αριθμού Πρωτοκόλλου) 1-2 μήνες, αλλά και κλάδοι που έχουν χρόνο διεκπεραίωσης 12-14 μήνες. Ενδιάμεσα, υπάρχουν κλάδοι με χρόνους 3-4 μηνών μέχρι και 8-9 μηνών.</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Θα ειδοποιηθώ όταν ολοκληρωθεί η αναγνώριση και θα μου την στείλετε στην διεύθυνση μου;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-20">
        <div class="card card-body border-0 p-0">
          <p>Για αιτήσεις που κατατέθηκαν πριν τις 20/05/2019: Η/ο ενδιαφερόμενη/ος ενημερώνεται για την ολοκλήρωση της διαδικασίας αναγνώρισης του τίτλου του από την υπηρεσία μας με sms ή e-mail. Η ολοκλήρωση της διαδικασίας δηλώνεται στην on-line πορεία της ιστοσελίδας μας με το χαρακτηρισμό ΑΠΟΣΥΝΔΕΣΗ. Ωστόσο, οι Πράξεις Αναγνώρισης και οι Βεβαιώσεις βαθμολογικής αντιστοιχίας δεν αποστέλλονται. Παραλαμβάνονται από τον ενδιαφερόμενο ή από εξουσιοδοτημένο εκπρόσωπό του από το τμήμα Παραλαβής του ΔΟΑΤΑΠ.
            Για αιτήσεις που υποβλήθηκαν από 20/05/2019 και μετά: Με την υπογραφή του Προέδρου η τελική πράξη αποστέλλεται ηλεκτρονικά στον πολίτη σε πραγματικό χρόνο.</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-21" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Δεν μπορώ να παραλάβω ο ίδιος την πράξη αναγνώρισης μου. Μπορεί να την παραλάβει κάποιος άλλο πρόσωπο για μένα και με ποιον τρόπο;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-21">
        <div class="card card-body border-0 p-0">
          <p>Παραλαβή της πράξης αναγνώρισης (ή άλλου σχετικού εγγράφου) πραγματοποιείται από άλλο πρόσωπο με την επίδειξη σχετικής εξουσιοδότησης.</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-22" aria-expanded="false" data-toggle="collapse" href="#faq-22" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Χρειάζομαι την αντιστοιχία βαθμού του πτυχίου μου. Τι πρέπει να κάνω;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-22">
        <div class="card card-body border-0 p-0">
          <p>Εφόσον έχει εκδοθεί Πράξη Αναγνώρισης ισοτιμίας τίτλου σπουδών προς πτυχία ελληνικών Α.Ε.Ι., η βεβαίωση αντιστοιχίας βαθμού εκδίδεται κατόπιν σχετικής αίτησης του ενδιαφερομένου.</p>
          <p>
          </p>
        </div>
      </div>


      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-23" aria-expanded="false" data-toggle="collapse" href="#faq-23" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Πώς μπορώ να δω την πορεία της αίτησης μου στο site σας;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-23">
        <div class="card card-body border-0 p-0">
          <p>Για αιτήσεις που κατατέθηκαν πριν τις 20/05/2019: Ηλεκτρονική ενημέρωση για την πορεία της διαδικασίας αναγνώρισης παρέχεται από την ιστοσελίδα του Οργανισμού μας μέσω της on-line πορείας. Αρκεί γι’ αυτό η χρήση του αριθμού πρωτοκόλλου του ατομικού φακέλου και της ημερομηνίας γεννήσεως του ενδιαφερόμενου.
            Για αιτήσεις που υποβλήθηκαν από 20/05/2019 και μετά: Η παρακολούθηση της πορείας γίνεται μέσω της πλατφόρμας eDoatap στην οποία και έχει υποβληθεί η αίτηση.</p>
          <p>
          </p>
        </div>
      </div>



      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-24" aria-expanded="false" data-toggle="collapse" href="#faq-24" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Έχω πάρει απορριπτική απόφαση από το ΔΟΑΤΑΠ/ΔΙΚΑΤΣΑ. Μπορώ να κάνω αίτηση επανεξέτασης;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-24">
        <div class="card card-body border-0 p-0">
          <p>Αίτηση επανεξέτασης για όλες τις περιπτώσεις μπορεί να κατατεθεί εντός ενός έτους από την ημερομηνία παραλαβής της σχετικής αποφάσεως. Αίτηση επανεξέτασης που υποβάλλεται εκπρόθεσμα εξετάζεται μόνο αν η Ολομέλεια του Δ.Σ. τις κάνει αποδεκτές μόνον υπό καθορισμένες προϋποθέσεις.</p>
          <p>
          </p>
        </div>
      </div>



      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-25" aria-expanded="false" data-toggle="collapse" href="#faq-25" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Αναγνωρίζεται τίτλος πανεπιστημίου της αλλοδαπής μετά από σπουδές σε συνεργαζόμενο κολλέγιο/παράρτημα αυτού του πανεπιστημίου στην Ελλάδα;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-25">
        <div class="card card-body border-0 p-0">
          <p>Σύμφωνα με τον ιδρυτικό νόμο 3328/2005, άρθρο 4, παρ. β, όλες οι σπουδές πρέπει να έχουν πραγματοποιηθεί αποκλειστικά σε ομοταγή εκπαιδευτικά ιδρύματα της αλλοδαπής. Πτυχία που απονέμονται μετά από πραγματοποίηση σπουδών ή μέρους σπουδών σε παράρτημα εκπαιδευτικού ιδρύματος της αλλοδαπής στην Ελλάδα δεν αναγνωρίζονται ακαδημαϊκά, καθώς η αναγνώρισή τους δεν είναι σύμφωνη με τις διατάξεις του άρθρου 16 του Συντάγματος. Για τους τίτλους αυτούς οι ενδιαφερόμενοι μπορούν να απευθύνονται στο Αυτοτελές Τμήμα Εφαρμογής της Ευρωπαϊκής Νομοθεσίας (ΑΤΕΕΝ) του ΥΠΑΙΘ, που εξετάζει αιτήσεις αναγνώρισης επαγγελματικών Προσόντων και αναγνώρισης επαγγελματικής ισοδυναμίας τίτλου τυπικής ανώτατης εκπαίδευσης</p>
          <p>
          </p>
        </div>
      </div>


      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-26" aria-expanded="false" data-toggle="collapse" href="#faq-26" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Διάβασα στα δικαιολογητικά για την σφραγίδα Apostille. Τι είναι ακριβώς αυτή η σφραγίδα; Πού μπαίνει;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-26">
        <div class="card card-body border-0 p-0">
          <p>Η διεθνής σφραγίδα Apostille επικυρώνει το γνήσιο της υπογραφής του υπογράφοντος τον τίτλο και αποδίδεται από διοικητική αρχή της χώρας έκδοσης του τίτλου, εφόσον η χώρα αυτή έχει κυρώσει την σχετική σύμβαση.</p>
          <p>
          </p>
        </div>
      </div>


      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-27" aria-expanded="false" data-toggle="collapse" href="#faq-27" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Έχω την αναλυτική βαθμολογία μου και την βεβαίωση του τόπου σπουδών σε κλειστό φάκελο. Μπορώ να τα καταθέσω ο ίδιος;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-27">
        <div class="card card-body border-0 p-0">
          <p>Η κατάθεση δικαιολογητικών στον Οργανισμό μας που έχουν επιδοθεί στον ενδιαφερόμενο απευθείας από το Ίδρυμα που πραγματοποίησε τις σπουδές του σε κλειστό και επίσημα σφραγισμένο φάκελο είναι αποδεκτή.
            Ωστόσο αν η αρμόδια εκτελεστική επιτροπή το κρίνει απαραίτητο μπορεί να ζητήσει εκ νέου την απευθείας αποστολή τους από το αντίστοιχο Ίδρυμα.</p>
          <p>
          </p>
        </div>
      </div>


      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-28" aria-expanded="false" data-toggle="collapse" href="#faq-28" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Με τα πτυχία ποιου Τμήματος Α.Ε.Ι. της ημεδαπής θα αντιστοιχηθεί ο τίτλος σπουδών μου από πανεπιστήμιο της αλλοδαπής; Θα δώσω μαθήματα;
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-28">
        <div class="card card-body border-0 p-0">
          <p>Η επιλογή του τμήματος ελληνικού Α.Ε.Ι. προς τα πτυχία του του οποίου επιθυμεί ο πολίτης να αποδοθεί αντιστοιχία οφείλει να γίνεται κατά βάσιν με γνώμονα την σύγκριση των μαθημάτων του πτυχίου του με τα μαθήματα του τμήματος της ημεδαπής.
            Συνιστούμε η σύγκριση αυτή να γίνεται από τον ενδιαφερόμενο και πριν από την έναρξη των σπουδών του.
            Ο καθορισμός μαθημάτων στα οποία ο ενδιαφερόμενος θα οφείλει να εξετασθεί προκειμένου να του αποδοθεί «Ισοτιμία και Αντιστοιχία» καθώς και ο αριθμός τους κρίνεται από την αρμόδια εκτελεστική επιτροπή κατά περίπτωση.</p>
          <p>
          </p>
        </div>
      </div>



    </section>
  </section>


  <%- include ('partials/footer.ejs') %>


</body>
</html>