.card_1{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
    width: 80vh;
    box-shadow: 2px 2px 2px black;
    border-radius: 8px;   
}

.card_1:hover{
    transform:translateX(10px)
}