<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/header.ejs') %>
    <script src="js/nav-script.js" ></script>
</head>

<body>
    <!-- <%- include ('../partials/nav.ejs') %> -->
    <%- include ('../partials/breadcrumbs.ejs') %>
    Welcome <%= currentUser.first_name %>
</body>
</html>